///////////////////////////////
// Imports                   //
///////////////////////////////

@import "settings";
@import "normalize";
@import "foundation/components/grid";
@import "foundation/components/global";
@import "foundation/components/type";

///////////////////////////////
// Custom Variables          //
///////////////////////////////

$borderRadius: 2px;
$baseMargin: 7px;
$smallMargin: 4px;



///////////////////////////////
// Typographpy               //
///////////////////////////////

// @font-face {
//   font-family: 'TitilliumWeb';
//   src: url('../fonts/TitilliumWeb-Regular.eot');
//   src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
//   url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
//   url('../fonts/TitilliumWeb-Regular.svg#TitilliumWeb-Light') format('svg');
// }

h1, h2, h3, h4, h5 {
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  font-size: 1.7em;
  border-bottom: 1px dotted #CCC;
}
h5 {

}

p {
  margin-bottom: 0.5rem;
}

.muted {
  color: #777;
}


///////////////////////////////
// Layouting                 //
///////////////////////////////

#top {

  padding: $baseMargin 0 $baseMargin * 2 0;
  margin: 0 0 $baseMargin * 2 0;
  color: #FFF;
  background: #F7F7F7;
  border-bottom: 1px solid #EEE;

  h1 {
    font-size: 3.2em;
    color: #000;
    // text-shadow: 3px 3px 3px #000;
    margin: 3px 0;
  }

  h2.subline {
    color: #777;
    font-size: 1.0em;
    margin-top: 0;
  }
}

#logo-top,
#logo-bottom {

  width: 100%;
  height: $baseMargin;
  background: #171717;
  z-index: 999;
  color: #FFF;



  .logo-left, .logo-right, .logo-1, .logo-2, .logo-3, .logo-4 {
    position: absolute;
    height: inherit;
    opacity: 0.7;
  }
  .logo-left {
    left: 0;
    width: 50%;
    background: #670097;
    opacity: 1;
  }

  .logo-right {
    left: 50%;
    width: 50%;
    background: #C4EE29;
    opacity: 1;
  }

  .logo-1 {
    left: 5%;
    width: 25%;
    background: #43179E;
  }
  .logo-2 {
    left: 15%;
    width: 35%;
    background: #38378B;
  }
  .logo-3 {
    left: 40%;
    width: 50%;
    background: #1B6FC6;
  }
  .logo-4 {
    left: 75%;
    width: 25%;
    background: #C4EE29;
  }


}

#logo-bottom {
  height: $baseMargin;
  margin: 0;
}


.example-gallery {

    h4 {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 1.4em;
    }

    .row {

        margin: 0 0 $baseMargin 0;
        background: #F7F7F7;
        // border: 1px solid #EEE;
        border-radius: $borderRadius;

        img {
            border: 1px solid #CCC;
            border-radius: $borderRadius;
            padding: 2px;
            margin-top: 6px;
        }
    }

    .center-image {
        text-align: center;
        margin-bottom: $baseMargin;
    }



    p {
        font-size: 0.85em;
    }

    ul.inline-list {
        margin-left: 0;
        padding-left: 0;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid #EEE;
    }

    li {
        color: #777;
        font-size: 0.8em;
    }

    .fa-li {
        top: 0.28em;
    }
}

#mycontactform {

  textarea {
    height: $baseMargin * 7;
  }

  #submit {
    margin-bottom: $smallMargin;
  }
}

#person-details {

  .imagewrapper {
    text-align: center;
  }

  img {
    border: 1px solid #CCC;
    padding: 2px;
    border-radius: $borderRadius;
  }

}

footer {
  font-size: 0.8em;
  color: #777;
  margin: $smallMargin 0;
  padding: $smallMargin 0;
  border-top: 1px dotted #CCC;

}




#social-media {

    text-align: center;
    margin: $baseMargin 0;

    .fa:hover {
        opacity: 0.8;
    }

    .fa-fw {
        width: 1em !important;
    }

    .fa-envelope {
      color: #B0B0B0;
    }

    .fa-facebook-square {
        color: #3B5998;
    }

    .fa-linkedin-square {
        color: #0073B2;
    }

    .fa-xing-square {
        color: #015760;
    }

    .fa-github-square {
        color: #333333;
    }

    .fa-stack-overflow {
        color: #FF9900;
    }
}

#simon-heimler {
  .fa-li {
      top: 0.28em;
  }
}



///////////////////////////////
// SKILLS                    //
///////////////////////////////


.skill-rating {
  display: inline-block;
  width: 105px;
  .fa {
    padding-right: 5px;
  }
}
.skill-rating-1 {
  color: #C4EE29;
}
.skill-rating-2 {
  color: #A1D34A;
}
.skill-rating-3 {
  color: #4E9596;
}
.skill-rating-4 {
  color: #316EAB;
}
.skill-rating-5 {
  color: #3F2B90;
}
.skill-domain {
  display: inline-block;

}

  .logo-1 {
    left: 5%;
    width: 25%;
    background: #43179E;
  }
  .logo-2 {
    left: 15%;
    width: 35%;
    background: #38378B;
  }
  .logo-3 {
    left: 40%;
    width: 50%;
    background: #1B6FC6;
  }
  .logo-4 {
    left: 75%;
    width: 25%;
    background: #C4EE29;
  }